# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node modules
node_modules
backend/node_modules
frontend/nextdoorbuddy/node_modules

#Packages-lock.json
frontend/nextdoorbuddy/package-lock.json
backend/package-lock.json

# Build output
dist
dist-ssr

# Local environment files
*.local

# Env
backend/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
